note.txt

.env
*.tfstate
*.tfstate.backup

infra/.terraform/
infra/.terraform.lock.hcl
infra/.terraform.tfstate
infra/.terraform.tfstate.lock.hcl
infra/.terraform.tfstate.lock.info
infra/terraform.tfvars

credentials/kaggle.json