# --- Kaggle credentials ---
kaggle_username = 
kaggle_key      = 
secret_id       = "kaggle-json"

# --- Cloud Build Configuration ---
github_username = "tan-yong-sheng"
github_repo = "wqd7007-big-data"

# --- GCP Project and Location ---
project_id = "wqd7007-big-data"
region     = "us-central1"
zone       = "us-central1-f"
location   = "US"

# --- Composer and Related Services Configuration ---
composer_env_name = "airflow"
dataproc_cluster_name  = "air-quality-cluster"
bucket           = "air-pollution-data-my"
staging_bucket   = "staging-air-pollution-data-my"
temp_bucket      = "temp-air-pollution-data-my"
dags_bucket      = "us-central1-airflow-bucket"
